<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src='https://cdn.jsdelivr.net/npm/vue/dist/vue.js'></script>
</head>
<body>
    <div id="main">
        <input v-model="message" placeholder="edit me">
        <p>Message is: {{ message }}</p>
        <span>Multiline message is:</span>
        <p style="white-space: pre-line;">{{ textarea }}</p>
        <br>
        <textarea v-model="textarea" placeholder="add multiple lines"></textarea>
    </div>


    <!-- 复选框 -->
    <!-- 多个复选框，绑定到同一个数组： -->
    <div id='example-3'>
        <input type="checkbox" id="jack" value="Jack" v-model="checkedNames">
        <label for="jack">Jack</label>
        <input type="checkbox" id="john" value="John" v-model="checkedNames">
        <label for="john">John</label>
        <input type="checkbox" id="mike" value="Mike" v-model="checkedNames">
        <label for="mike">Mike</label>
        <br>
        <span>Checked names: {{ checkedNames }}</span>
    </div>




    <!-- 选择框
    单选时： -->
    <div id="example-5">
        <select v-model="selected">
            <option disabled value="">请选择</option>
            <option>A</option>
            <option>B</option>
            <option>C</option>
        </select>
        <span>Selected: {{ selected }}</span>
    </div>




    <!-- 用 v-for 渲染的动态选项： -->
    <div id="for">
        <select v-model="selected">
        <option v-for="option in options" v-bind:value="option.value">
            {{ option.text }}
        </option>
        </select>
        <span>Selected: {{ selected }}</span>
    </div>
    <script>
        var vm = new Vue({
            el:'#main',
            data:{
                message:'',
                textarea:''
            },
            method:{

            }
        })
        var vu = new Vue({
            el: '#example-3',
            data: {
                checkedNames: []
            }
        })
        new Vue({
            el: '#example-5',
            data: {
                selected: ''
            }
        })
        new Vue({
            el: '#for',
            data: {
                selected: 'A',
                options: [
                { text: 'One', value: 'A' },
                { text: 'Two', value: 'B' },
                { text: 'Three', value: 'C' }
                ]
            }
        })
    </script>
</body>
</html>